<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ec1" data-view="Number" data-title="EC" data-moreinfo="mS/cm2 (Irrigation)" style="background-color: #00d03f"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="temp1" data-view="Number" data-title="Temp" data-moreinfo="°C (Irrigation)" style="background-color: #d3b700"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="ph1" data-view="Number" data-title="pH" data-moreinfo="(Irrigation)" style="background-color: #ff5733"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="tb1_volume" data-view="Number" data-title="Volume" data-moreinfo="mL (Irrigation)" style="background-color: #2f94ff"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="ratio" data-view="Number" data-title="Ratio" data-suffix="%"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ec2" data-view="Number" data-title="EC" data-moreinfo="mS/cm2 (Runoff)" style="background-color: #00d03f;"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="temp2" data-view="Number" data-title="Temp" data-moreinfo="°C (Runoff)" style="background-color: #d3b700"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="ph2" data-view="Number" data-title="pH" data-moreinfo="(Runoff)" style="background-color: #ff5733"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="tb2_volume" data-view="Number" data-title="Volume" data-moreinfo="mL (Runoff)" style="background-color: #2f94ff"></div>
    </li>
  </ul>
  
  <div style="font-size: 12px;">
    <p style="text-align: center">
      API available at port 3232 | <a href="https://github.com/autogrow/openminder" style="text-decoration: underline;">Github</a>
    </p>
  </div>
</div>
